/* Header container with full height */

.app-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
    background-image: url("../assets/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-container {
    margin-top: 24px;
}

/* Style for the guess input container */
.guess-input-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guess-input {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
}

/* Style for the guess input */
.input-lg {
    font-size: 72px !important;
    width: 240px !important;
}

.mt-0 {
    margin-top: 0px !important;
}
.mt-1 {
    margin-top: 4px !important;
}
.mt-2 {
    margin-top: 8px !important;
}

.mt-4 {
    margin-top: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}
.fs-72 {
    font-size: 72px !important;
}
.width-100 {
    width: 100% !important;
}

.text-red {
    color: #EC442A;
}

.text-green {
    color: #357788
}

.font-bold {
    font-weight: bold;
}

.guess-button {
    background-color: #357788 !important;
    border:#357788 !important;
}
.new-game-button {
    background-color: #EC442A !important;
    border:#EC442A !important;
}

#correctGuesses {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}